* {
    font-size: 18px !important;
    color: #1b1e21;
    list-style: none;

}
li a{
    color: #1b1e21;
}
li.homepage{
    margin-right: 15px;
}
li.homepage a{
    color: #030303;
}
#logout-form{
    display: none;
}
. menu-left{
    float: left;
}
main.py-4{
    margin-top: 70px
}
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title.m-b-md {
    font-weight: bold;
    font-size: 84px!important;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}